<h1>Exploratory Data Analysis (EDA)</h1>

<p>This is the next component of the NLP pipeline (follows data cleaning). EDA is carried out to verify that the data we have makes sense. If it doesn't, then we'll have to go back to our data cleaning notebook and implement a few more techniques to transform the data into a more usable format.</p>

In [2]:
# Reading in clean data
import pandas as pd

headlines = pd.read_pickle("./pickles/headline_dtm.pkl")
sentences = pd.read_pickle("./pickles/sentence_dtm.pkl")

# Transposing the datasets for easier comprehension
headlines = headlines.transpose()
sentences = sentences.transpose()

<p>EDA is done by visualizing aspects of the cleaned dataset.</p>

<p><i>(For each visualization that's presented, there will be two variants - headlines and first sentences.)</i></p>

In [3]:
headlines.head()

Date,2020-07-23,2020-07-23,2020-07-23,2020-07-23,2020-07-23,2020-07-23,2020-07-23,2020-07-22,2020-07-22,2020-07-22,...,2019-04-16,2019-04-16,2019-04-16,2019-04-16,2019-04-16,2019-04-15,2019-04-15,2019-04-12,2019-04-12,2019-04-12
abate,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abuses,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
accessories,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
accounting,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
accused,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
headlines["2020-07-23"]

Date,2020-07-23,2020-07-23,2020-07-23,2020-07-23,2020-07-23,2020-07-23,2020-07-23
abate,0,0,0,0,0,0,0
abuses,0,0,0,0,0,0,0
accessories,0,0,0,0,0,0,0
accounting,0,0,0,0,0,0,0
accused,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...
year,0,0,0,0,0,0,0
years,0,0,0,0,0,0,0
yen,0,0,0,0,0,0,0
youtube,0,0,0,0,0,0,0
zu,0,0,0,0,0,0,0